
@import 'mixins';


$pageBackgroundColor: #000000;
$pageBackgroundImage: '../images/parking-lot-wallpapers-3.jpg';

$formInnerMaxWidth: 700px;
$formInnerMinWidth: 200px;

textarea:focus, input:focus, button:focus{
    outline: none;
}


div.toast-message {
    font-family: 'Open Sans', sans-serif;
}        
   

html {
    background: url($pageBackgroundImage) no-repeat center top fixed;
    background-color: $pageBackgroundColor;
}

.stat-view {
    width: 100%;
    overflow:auto;
    min-width: $formInnerMinWidth;
    max-width: $formInnerMaxWidth;
    margin: 0 auto;

}

/*todo move the following to inputs
*/
input[type='submit']
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;  
}


/*for mozilla*/

input:invalid {
    box-shadow: none;
}

/*for ie*/

input[type=text]::-ms-clear
input[type=email]::-ms-clear
{ 
    display: none; 
}
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

/*input[type=text]::-ms-input-placeholder{
    color:#A9A9AB;
}*/

:-ms-input-placeholder { /* IE10–11 */
    color: #A9A9AB !important;
    font-weight: 400 !important;
}

::-ms-input-placeholder { /* Edge */
    color: #A9A9AB;
    font-weight: 400;
}

select::-ms-expand {
    display: none;
}