
@import 'mixins';

$pageBackgroundColor: #000000;
$pageBackgroundImage: '../images/parking-lot-wallpapers-3.jpg';

$formInnerMaxWidth: 700px;
$formInnerMinWidth: 200px;

textarea:focus, input:focus, button:focus{
    outline: none;
}


div.toast-message {
    font-family: 'Open Sans', sans-serif;
}        
   

html {
    background: url($pageBackgroundImage) no-repeat center top fixed;
    background-color: $pageBackgroundColor;
}

.stat-view {
    width: 100%;
    overflow:auto;
    min-width: $formInnerMinWidth;
    max-width: $formInnerMaxWidth;
    margin: 0 auto;

}