.button{
    display: block;
    cursor: pointer;
    background-color:#0f0f0f;
    color:#EEEEEE;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
    height:40px;
    border:none;

}

.button:hover{
    background-color:#000;
}