@mixin box-sizing($size) {
    -webkit-box-sizing: $size;
    -moz-box-sizing: $size;
    box-sizing: $size;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

@mixin user-select($userSelect) {
    -webkit-user-select: $userSelect;
    -moz-user-select: $userSelect;
    -ms-user-select: $userSelect;
}